*{
    margin: 0;
    padding: 0;
    font-family: calibri;
}
body{
    background-color: antiquewhite;
}
.first{
    background-image: url('bg1.jpg');
    background-size: cover; 
    height: 800px;
    background-repeat: no-repeat;
}
.navbar{
display: flex;
height: 100px;
width: 100%;
background-color: antiquewhite;
position: sticky;
top: 0;
}
.navbar_left_side img{
    height: 80px;
    margin: auto;
    margin: 15px 0px 25px 120px;
}
.navbar_left_side h1{
    margin: auto;
    margin: 45px 0px 25px 10px;
    font-size: 35px;
}
.navbar_left_side{
    display: flex;
}
.navbar_right_side{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
    padding-left: 350px;  
    /* padding: ; */
}

.navbar_right_side li{
    margin: auto;
    margin: 50px 8px 0px 8px;
    padding: 10px 7px 0px 20px;
    font-size: 20px;
}
.main h1{
    margin-left: 51%;
    margin-top: 170px;
    font-size: 80px;
    font-family: pacifico;
}
.main h1 span{
    color: aliceblue;
}
.main button{
    height: 50px;
    width: 180px;
    margin-top: 300px;
    border: 3px solid;
    border-radius: 20px; 
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: bolder;
    font-size: 19px;
}
.second{
    background-color: antiquewhite;
}